<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sisgec="http://sisgec.cursomarajoara.com">
<body>
<aside class="marajo-layout-sidebar  js-sidebar" th:fragment="aside">
		<div class="marajo-layout-sidebar__content">
		
		    <nav class="marajo-menu  js-menu">
		      <ul class="marajo-menu__list">
		
		        <li class="marajo-menu__item">          
		          <a href="dashboard.html"><i class="fa  fa-fw"></i><span></span></a>
		          <a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
		        </li>
		        
		        <li class="marajo-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Vendas</span>
            			<i class="marajo-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="marajo-menu__list  sisgec-menu__list--sublist">          			
          				<li class="marajo-menu__item  sisgec-menu__item--link" sisgec:menu="@{/vendas/nova}">
			            	<a th:href="@{/vendas/nova}">Nova venda</a>			            	
			            </li>
          			
			            <li class="marajo-menu__item  sisgec-menu__item--link" sisgec:menu="@{/vendas}">			            	
			            	<a th:href="@{/vendas}">Pesquisa de vendas</a>
			            </li>
			        </ul>
			    </li>
		
		        <li class="marajo-menu__item">
		          <a href="#">
		            <i class="fa  fa-fw  fa-truck"></i><span>Estoque</span>
		            <i class="marajo-menu__navigation-icon  fa"></i>
		          </a>
		      
		          <ul class="marajo-menu__list  marajo-menu__list--sublist">
		            <li class="marajo-menu__item  marajo-menu__item--link" sisgec:menu="@{/tipos.*}">
		            	<a th:href="@{/tipos}">Tipos</a>
		            </li>
		            
		            <li class="marajo-menu__item  marajo-menu__item--link" sisgec:menu="@{/cursos.*}">
		            	<a th:href="@{/cursos}">Cursos</a>
		            </li>
		          </ul>
		        </li>
		
		        <li class="marajo-menu__item">
		          <a href="#">
		            <i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
		            <i class="marajo-menu__navigation-icon  fa"></i>
		          </a>
		
		          <ul class="marajo-menu__list  marajo-menu__list--sublist">
		            <li class="marajo-menu__item  marajo-menu__item--link" sisgec:menu="@{/cidades.*}">
		            	<a th:href="@{/cidades}">Cidades</a>
		            </li>
		            
		            <li class="marajo-menu__item  marajo-menu__item--link" sisgec:menu="@{/alunos.*}">
		            	<a th:href="@{/alunos}">Alunos</a>
		            </li>
		            
		            <li class="marajo-menu__item  marajo-menu__item--link" sisgec:menu="@{/usuarios.*}">
		            	<a th:href="@{/usuarios/novo}">Usuários</a>
		            </li>
		            
		          </ul>
		        </li>
		
		      </ul>
		    </nav>
		
		</div>
	</aside>
</body>
</html>