<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisgec="http://sisgec.marajoara.com"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Pesquisa de cursos</title>	
</head>

<body>	
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<p>Pesquisa de cursos</p>
				</div>
				
				<div class="col-sm-2">
					<div class="marajoara-page-header-controls">
						<a class="btn btn-default" th:href="@{/cursos/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Novo Curso</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">				      
	
		<form method="GET" th:object="${cursoFilter}">		
			<div class="row">
				<div class="form-group col-sm-6">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>				
				</div>
				
				<div class="form-group col-sm-6">
					<label class="control-label" for="tipoCurso">Tipo</label>
					<select id="tipoCurso" class="form-control" th:field="*{tipoCurso}" >
						<option value="">Todos os tipos</option>
						<option th:each="tipoCurso : ${tiposCursos}" th:text="${tipoCurso.nome}" th:value="${tipoCurso.codigo}"></option>
					</select>								
				</div>

<!-- 				<div class="form-group col-sm-6"> -->
<!-- 					<label class="control-label">Tipo</label> -->
<!-- 					<div> -->
<!-- 						<th:block th:each="tipoCurso : ${tiposCursos}"> -->
<!-- 							<div class="radio radio-inline"> -->
<!-- 								<input th:id="|id_${tipoCurso}|" type="radio" th:value="${tipoCurso.codigo}" th:field="*{tipoCurso}"/> -->
<!-- 								<label th:for="|id_${tipoCurso}|" th:text="${tipoCurso.nome}" class="control-label">Farma</label> -->
<!-- 							</div> -->
<!-- 						</th:block> -->
<!-- 						<div class="radio radio-inline"> -->
<!-- 							<input id="todosCursos" type="radio" th:checked="*{tipoCurso} == null" name="tipoCurso"/> -->
<!-- 							<label for="todosCursos">Todos</label> -->
<!-- 						</div>																 -->
<!-- 					</div>					 -->
<!-- 				</div>				 -->
				
			</div>
			
			<div class="row">				
				<div class="form-group col-sm-6">
					<label class="control-label" for="turno">Turno</label>
					<select id="turno" class="form-control" th:field="*{turno}" >
						<option value="">Todos os turnos</option>
						<option th:each="turno : ${turnos}" th:text="${turno.descricao}" th:value="${turno}"></option>
					</select>			
				</div>			
			</div>
			
			<div class="row">
			
<!-- 				<div class="form-group col-sm-6"> -->
<!-- 					<label class="control-label" for="disciplina">Disciplina</label> -->
<!-- 					<select id="Disciplina" class="form-control" th:field="*{disciplina}" > -->
<!-- 						<option value="">Todos as disciplinas</option> -->
<!-- 						<option th:each="disciplina : ${disciplinas}" th:text="${disciplina.nome}" th:value="${disciplina.codigo}"></option> -->
<!-- 					</select>								 -->
<!-- 				</div>	 -->

				
				<div class="form-group  col-sm-12">
					<label class="control-label">Disciplinas</label> 
					<div>
						<th:block th:each="disciplina : ${disciplinas}">
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" th:value="${disciplina.codigo}" th:field="*{disciplinas}"/>
		    					<label th:for="${#ids.prev('disciplinas')}" th:text="${disciplina.nome}">Farma</label>
	    					</div>
	    				</th:block>
					</div>
  				</div>
				
			
<!-- 				<div class="form-group col-sm-12"> -->
<!-- 						<label class="control-label">Disciplina</label> -->
<!-- 						<div> -->
<!-- 							<th:block th:each="disciplina : ${disciplinas}"> -->
<!-- 								<div class="radio radio-inline"> -->
<!-- 									<input th:id="|id_${disciplina}|" type="radio" th:value="${disciplina.codigo}" th:field="*{disciplina}"/> -->
<!-- 									<label th:for="|id_${disciplina}|" th:text="${disciplina.nome}" class="control-label">Farma</label> -->
<!-- 								</div> -->
<!-- 							</th:block> -->
<!-- 							<div class="radio radio-inline"> -->
<!-- 								<input id="todasDisciplinas" type="radio" th:checked="*{disciplina} == null" name="disciplina"/> -->
<!-- 								<label for="todasDisciplinas">Todas</label> -->
<!-- 							</div>																 -->
<!-- 						</div>					 -->
<!-- 					</div> -->
				</div>
				<button type="submit" class="btn btn-primary">Pesquisar</button>
		
		</form>
		<div class="table-responsive marajo-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="table-cursos-col-foto">Foto</th>
						<th class="table-cursos-col-nome">
							<sisgec:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-cursos-col-tipoCurso">
							<sisgec:order page="${pagina}" field="tipoCurso" text="Tipo"/>
						</th>
						
						<th class="table-cursos-col-descricao">Descrição</th>
						<th class="table-cursos-col-turno">Turno</th>
						<th class="table-cursos-col-disciplina">Disciplina</th>
						<th class="table-cursos-col-acoes">Ações</th>
					</tr>			
				</thead>
				<tbody>
					<tr th:each="curso : ${pagina.conteudo}">
						<td class="text-center">
							<img th:src="@{/fotos/thumbnail.{foto}(foto=${curso.fotoOuMock})}" class="img-responsive">
						</td>
						<td th:text="${curso.nome}">Enfermagem</td>
						<td th:text="${curso.tipoCurso.nome}"></td>
						<td th:text="${curso.descricao}">Curso de Enfermagem</td>
						<td th:text="${curso.turno}"></td>
						<td>
							<span th:each="disciplina : ${curso.disciplinas}" th:text="|${disciplina.nome}${disciplinaStat.last ? '' : ', '}|"></span>
						</td>
						
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Editar" 
									th:href="@{/cursos/{codigo}(codigo=${curso.codigo})}">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/cursos/{codigo}(codigo=${curso.codigo})}"
									data:objeto="${curso.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>						
					</tr>
					<tr class="sisgec-pesquisa-vazia" th:if="${pagina.vazia}">
						<td colspan="5">Nenhum curso encontrado!</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-sm-12 text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
					
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? all"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p -1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}|">[[${p}]]</a>
						</li>					
					</th:block>
					
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? all"><span>&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>
	
</section>
</body>
</html>