<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisgec="http://sisgec.marajoara.com"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Pesquisa de alunos</title>	
</head>

<body>	
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<p>Pesquisa de alunos</p>
				</div>
				
				<div class="col-sm-2">
					<div class="marajoara-page-header-controls">
						<a class="btn btn-default" th:href="@{/alunos/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Novo Aluno</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">	
		<form method="GET" th:object="${alunoFilter}">		
			<div class="row">
				<div class="form-group col-sm-8">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>				
				</div>
				
				<div class="form-group col-sm-4">
					<label class="control-label" for="docReceita">CPF/CNPJ</label>
					<input type="text" class="form-control" id="docReceita" th:field="*{docReceita}"/>				
				</div>
			</div>			
			
			<button type="submit" class="btn btn-primary">Pesquisar</button>		
		</form>
		
		<div class="table-responsive sisgec-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
<!-- 						<th class="table-alunos-col-foto"></th> -->
						<th class="table-alunos-col-nome">
							<sisgec:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-alunos-col-tipoPessoa">
							<!--<field="tipoPessoa" text="Tipo Pessoa"/> -->
						</th>
						
						<th class="table-alunos-col-docReceita">CPF/CNPJ</th>
						<th class="table-alunos-col-telefone">Telefone</th>
						<th class="table-alunos-col-cidade-estado">Cidade/Estado</th>							
						<th class="table-cursos-col-acoes"></th>
					</tr>			
				</thead>
				<tbody>
					<tr th:each="aluno : ${pagina.conteudo}">
<!-- 						<td class="text-center"> -->
<!-- 							<img th:src="@{/fotos/thumbnail.{foto}(foto=${aluno.fotoOuMock})}" class="img-responsive"> -->
<!-- 						</td> -->
						<td th:text="${aluno.nome}">Vanilton</td>
						<td class="text-center" th:text="${aluno.tipoPessoa.descricao}">FISICA</td>
						<td class="text-right" th:text="${aluno.docReceita}">011.123.321-14</td>
						<td class="text-right" th:text="${aluno.telefone}"></td>
						<td class="text-right" th:text="${aluno.endereco.nomeCidadeSiglaEstado}"></td>												
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Editar">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>						
					</tr>
					<tr class="sisgec-pesquisa-vazia" th:if="${pagina.vazia}">
						<td colspan="5">Nenhum aluno encontrado!</td>
					</tr>
				</tbody>
			</table>
		</div>	
			
		<sisgec:pagination page="${pagina}"/>
		
	</div>	
</section>
</body>
</html>