<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data">	
	
	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
	</head>
	
	<div class="marajo-tabela-item js-tabela-item" th:each="item : ${itens}">
		<div class="marajo-tabela-item__coluna marajo-tabela-item__coluna--foto">
			<img th:src="@{/fotos/thumbnail.{foto}(foto=${item.curso.fotoOuMock})}" class="img-responsive"/>
		</div>
		
		<div class="marajo-tabela-item__coluna marajo-tabela-item__coluna--detalhes">
			<span  class="marajo-tabela-curso-nome" th:text="${item.curso.nome}">Enfermagem</span>
			<span  class="label label-default" th:text="${item.curso.sku}">AA1111</span>
		</div>
	
		<div class="marajo-tabela-item__coluna marajo-tabela-item__coluna--valores">
			<div  class="marajo-tabela-curso-valor-pequeno">
				<input type="text" maxlength="3" 
					class="marajo-tabela-curso-campo-quantidade js-tabela-curso-quantidade-item" 
					th:value="${item.quantidade}" data:codigo-curso="${item.curso.codigo}"/>
				<span>x R$[[${{item.valorUnitario}}]]</span>
			</div>
			<div  class="marajo-tabela-curso-valor-grande">R$[[${{item.valorTotal}}]]</div>								
		</div>
		
		<div class="marajo-tabela-item__painel-exclusao">
			<span class="marajo-tabela-item__titulo-exclusao">Excluir este item da venda?</span>
			<button type="button" class="btn  btn-danger js-exclusao-item-btn" 
				data:codigo-curso="${item.curso.codigo}">Sim, excluir!</button>
		</div>		
	</div>
	
	<div class="marajo-tabela-cursos__vazio" th:if="${itens.empty}">
		<i class="glyphicon  glyphicon-shopping-cart"></i> 
		<span>Você ainda não adicionou nenhum curso ou produto.</span>
	</div>	
</html>