<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisgec="http://sisgec.cursomarajoara.com">
<head>
	<title>Cadastro de curso</title>
</head>

<body>	
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
			
				<div class="col-xs-10">					
					<p th:if="${tipoCurso.novo}">Cadastro de tipo de curso</p>
					<p th:unless="${tipoCurso.novo}" th:text="|Edição do tipo de curso ${tipoCurso.nome}|">Edição de tipo de curso</p>										
				</div>
				
				<div class="col-sm-2">
					<div class="marajo-page-header-controls">
						<a class="btn btn-default" th:href="@{/tiposCursos}">
							<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa</span>
						</a>					
					</div>				
				</div>
			</div>		
		</div>
	</div>
	
	<div class="container-fluid">		
	
		<form method="POST" th:object="${tipoCurso}" class="form-vertical  js-form-loading"
			th:action="${tipoCurso.novo} ? @{/tiposCursos/novo} : @{/tiposCursos/{codigo}(codigo=${tipoCurso.codigo})}">
			
			<sisgec:message/>			
		
			<input type="hidden" th:field="*{codigo}"/>
			
			<div class="row">
				<div class="col-sm-12 form-group sisgec-required" sisgec:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
				
				<div class="col-sm-12 form-group sisgec-required" sisgec:classforerror="descricao" >
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>			
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>					
				</div>
			</div>
	
		</form>
	</div>	
</section>
</body>
</html>