<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisgec="http://sisgec.marajoara.com"
	  xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de tipos de cursos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-sm-10">
					<p>Pesquisa de tipos de cursos</p>
				</div>
				
				<div class="col-sm-2">
					<div class="marajo-page-header-controls">
						<a class="btn  btn-default" th:href="@{/tiposCursos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> 
							<span class="hidden-xs  hidden-sm">Novo tipo de curso</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		
		<form method="GET" th:object="${tipoCursoFilter}">
			<div class="row">
				<div class="form-group col-sm-12">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" />					
				</div>				
			</div>
		
			<button type="submit" class="btn btn-primary">Pesquisar</button>		
		</form>
		
		<div class="table-responsive marajo-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>						
						<th class="table-tiposCursos-col-nome">
							<sisgec:order page="${pagina}" field="nome" text="Nome" />
						</th>
												
						<th class="table-tiposCursos-col-acoes">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="tipoCurso : ${pagina.conteudo}">						
						<td th:text="${tipoCurso.nome}">Tecnico</td>						
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
									th:href="@{/tiposCursos/{codigo}(codigo=${tipoCurso.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/tiposCursos/{codigo}(codigo=${tipoCurso.codigo})}"
									data:objeto="${tipoCurso.nome}">
							
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>						
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhum tipo encontrado</td>
					</tr>
				</tbody>		
			</table>
		</div>
		
		<sisgec:pagination page="${pagina}"/>
		
	</div>
	
</section>
</body>
</html>